<%- include ('partials/head') %>
<%- include ('partials/header') %> 

<body>

    <main class="main-formularios">
    
        <div class="cuadro-formularios">

            <h2>Por favor, modificar aquí los datos del producto</h2>
            <h2> con Id número:  <%= product.id%>  </h2>

             <br>
            
            <form action="/producto/edicion/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <p>
                    <label>Categoría</label>
                    <select type="text" name="category">
                        <option <% if (product.category=='Tinto') { %>
                            selected
                        <% } %> value="Tinto"> Vinos Tintos </option>
                        <option <% if (product.category=='Blanco') { %>
                            selected
                        <% } %> value="Blanco"> Vinos Blancos </option>
                        <option <% if (product.category=='Rosado') { %>
                            selected
                        <% } %> value="Rosado"> Vinos Rosados </option>
                        <option <% if (product.category=='Espumantes') { %>
                            selected
                        <% } %> value="Espumantes"> Espumantes </option>
                        <option <% if (product.category=='otros') { %>
                            selected
                        <% } %>value="otros"> Otros </option>
                    </select>
                </p>

                <p>
                    <label>Descripción</label>
                    <input type="text" name="description" value="<%= product.description %>">
                </p>

                <p>
                    <label>Bodega / Productor / Fabricante</label>
                    <input type="text" name="winery" value="<%= product.winery %>">
                </p>
                
                <p>
                    <label>Origen</label>
                    <input type="text" name="origin" value="<%= product.origin %>">
                </p>
                <p>
                    <label>Año</label>
                    <input type="number" name="year" value="<%= product.year %>">
                </p>
                <p>
                    <label>Precio</label>
                    <input type="number" name="price" value="<%= product.price %>">
                </p>
               
                <p>
                    <label>Si está en Oferta/Promoción, indique el porcentaje del descuento</label>
                    <input type="number" name="discount" placeholder="0 o el numero sin el %" value="<%= product.discount %>">
                </p>

                <p>
                    Nota: Aca me falta averiguar cómo poner la imagen ya guardada <br>
                    <label>Agregue la foto del artículo en formato .jpg .jpeg .png</label>
                    <input type="file" name="photo" accept=".jpg .png .jpeg">
                </p>
               
                <br>
                <p>
                    <label>Es un producto recomendado</label>
                    <select type="boolean" name="recomended">
                        <option
                        <% if (product.recomended =='true') { %>
                         selected
                        <% } %> value="true"> SI </option>
                        <option <% if (product.recomended =='false') { %>
                            selected
                           <% } %> value="false"> NO </option>
                    </select>
                </p>
                <p>
                    <button type="reset">Resetear formulario</button>
                </p>
      
                <p>
                    <button type="submit">GUARDAR PRODUCTO</button>
                </p>

            </form>
           
        </div>

    </main>



</body>


</html>