<%- include ('partials/head') %>
<%- include ('partials/header') %> 



<body>

    <main class="main-formularios">
    
        <div class="cuadro-formularios">

            <h2>Por favor, cargar aquí los datos del producto a incorporar</h2>

            <form action="/producto/carga" method="post" enctype="multipart/form-data">
                <p>
                    <label>Categoría</label>
                    <select type="text" name="category">
                        <option value="Tinto"> Vinos Tintos </option>
                        <option value="Blanco"> Vinos Blancos </option>
                        <option value="Dulce"> Vinos Dulces </option>
                        <option value="Rosado"> Vinos Rosados </option>
                        <option value="Espumantes"> Espumantes </option>
                        <option value="otros"> Otros </option>
                    </select>
                </p>
                 <% if( typeof validaciones != 'undefined') { %>
                  <% validaciones.forEach((validacion)=>{ %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong> <%= validacion.msg %> </strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>  
<% }) %>
  <% } %>

                <p>
                    <label>Descripción</label>
                    <input type="text" name="description" id="description" value="<% if( typeof valores != 'undefined') { %>  <%= valores.description %><% } %> ">       
                </p>

                <p>
                    <label>Bodega / Productor / Fabricante</label>
                    <input type="text" name="winery" id="winery" value="<% if( typeof valores != 'undefined') { %>  <%= valores.winery %><% } %> ">
                </p>
            
                <p>
                    <label>Origen</label>
                    <input type="text" name="origin" id="origin" value="<% if( typeof valores != 'undefined') { %>  <%= valores.origin %><% } %> ">>
                </p>

                <p>
                    <label>Año</label>
                    <input type="number" name="year" id="year" value="<% if( typeof valores != 'undefined') { %>  <%= valores.year %><% } %> ">>
                </p>

                <p>
                    <label>Precio</label>
                    <input type="number" name="price" id="price" value="<% if( typeof valores != 'undefined') { %>  <%= valores.price %><% } %> ">>
                </p>           
                <p>
                    <label>Si está en Oferta/Promoción, indique el porcentaje del descuento</label>
                    <input type="number" name="discount" id="discount" placeholder="0 o el numero sin el %"     value="<% if( typeof valores != 'undefined') { %>  <%= valores.discount %><% } %> ">>
                </p>

                <p>
                    <label>Agregue la foto del artículo en formato .jpg o .png</label>
                    <input type="file" name="photo">
                </p>

                <p>
                    <label>Es un producto recomendado</label>
                    <select type="boolean" name="recomended">
                        <option value="true"> SI </option>
                        <option value="false"> NO </option>
                    </select>
                </p>
                    
                <p>
                    <button type="reset">Resetear formulario</button>
                </p>
      
                <p>
                    <button type="submit">GUARDAR PRODUCTO</button>
                </p>

            </form>
           
        </div>

    </main>



</body>
</html>