<%- include ('partials/head') %>
<%- include ('partials/header') %> 

<body>

    <main class="main-formularios">
    
        <div class="cuadro-formularios">

            <h2>Por favor, modificar aquí los datos del producto</h2>
            <h2> con Id número:  <%= product.id%>  </h2>

             <br>
            
            <form action="/producto/edicion/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <p>
                    <label>Categoría</label>
                    <select type="text" name="category">
                        <option <% if (product.category=='Vino Tinto') { %>
                            selected
                        <% } %> value="Vino Tinto"> Vinos Tintos </option>
                        <option <% if (product.category=='Vino Blanco') { %>
                            selected
                        <% } %> value="Vino Blanco"> Vinos Blancos </option>
                        <option <% if (product.category=='Vino Rosado') { %>
                            selected
                        <% } %> value="Vino Rosado"> Vinos Rosados </option>
                        <option <% if (product.category=='Vino Espumantes') { %>
                            selected
                        <% } %> value="Vino Espumantes">Vinos Espumantes </option>
                        <option <% if (product.category=='otros') { %>
                            selected
                        <% } %>value="otros"> Otros </option>
                    </select>
                </p>

                <p>
                    <label>Descripción</label>
                    <input type="text" name="description" value="<%= product.description %>">
                    <% if (locals.errors && errors.description) { %>
                        <div class="errores-de-formularios">
                        <%= errors.description.msg %> 
                    </div>
                       <% } %>  
                </p>

                <p>
                    <label>Bodega / Productor / Fabricante</label>
                    <input type="text" name="winery" value="<%= product.winery %>">
                    <% if (locals.errors && errors.winery) { %>
                        <div class="errores-de-formularios">
                        <%= errors.winery.msg %> 
                    </div>
                       <% } %>  
                </p>
                
                <p>
                    <label>Origen</label>
                    <input type="text" name="origin" value="<%= product.origin %>">
                    <% if (locals.errors && errors.origin) { %>
                        <div class="errores-de-formularios">
                        <%= errors.origin.msg %> 
                    </div>
                       <% } %>  
                </p>
                <p>
                    <label>Año</label>
                    <input type="number" name="year" value="<%= product.year %>">
                    <% if (locals.errors && errors.year) { %>
                        <div class="errores-de-formularios">
                        <%= errors.year.msg %> 
                    </div>
                       <% } %>  
                </p>
                <p>
                    <label>Precio</label>
                    <input type="number" name="price" value="<%= product.price %>">
                    <% if (locals.errors && errors.price) { %>
                        <div class="errores-de-formularios">
                        <%= errors.price.msg %> 
                    </div>
                       <% } %>  
                </p>
               
                <p>
                    <label>Si está en Oferta/Promoción, indique el porcentaje del descuento</label>
                    <input type="number" name="discount" placeholder="0 o el numero sin el %" value="<%= product.discount %>">
                    <% if (locals.errors && errors.discount) { %>
                        <div class="errores-de-formularios">
                        <%= errors.discount.msg %> 
                    </div>
                       <% } %>  
                </p>

                <p>
                    <br>
                    <label>Desea cambiar la foto del articulo?</label>
                    <img src="/images/productos/<%= product.image %>" width="50" height="50">
                    <input type="hidden" name="image" value="<%=product.image%>">
                    <input type="file" name="image" accept="image/.jpg .png .jpeg">
                </p>
               
                <br>
                <p>
                    <label>Es un producto recomendado</label>
                    <select type="boolean" name="recomended">
                        <option
                        <% if (product.recomended =='true') { %>
                         selected
                        <% } %> value="true"> SI </option>
                        <option <% if (product.recomended =='false') { %>
                            selected
                           <% } %> value="false"> NO </option>
                    </select>
                </p>
                <p>
                    <button type="reset">Resetear formulario</button>
                </p>
      
                <p>
                    <button type="submit">GUARDAR PRODUCTO</button>
                </p>

            </form>
           
        </div>

    </main>



</body>


</html>