<%- include ('partials/head') %>
<%- include ('partials/header') %> 


    <main class="main-cuerpo">
        <section>
        <h3 class="prodes">Productos Destacados</h3><br>    
        <div class="products">
            <% productosRecomendados.forEach(productosRecomendados => { %>
                <article>
                    <img src="Images/<%= productosRecomendados.image %> " alt="pinot" class="product_img">
                    <div class="main-article">
                        <h4 class="description"><%= productosRecomendados.winery %> </h4>
                        <h5 class="description"> <%= productosRecomendados.description %> </h5>
                        <div class="flex-container">
                            <p class="price">$ <%= productosRecomendados.price %> </p>
                            <p class="discount"><%= productosRecomendados.discount %>% off</p>
                        </div>
                        
                    </div>
                    <button class="btn-carr"><a href="/producto/<%= productosRecomendados.id %>"> Tienda </a></button>
                </article>
            <% }) %>
    </section>
    <section class="offers"><br>
        <h3 class="ofer">Sugeridos del Mes</h3><br>
        <br>
        <br>
        
        <div class="products">
            <% productosRecomendados.forEach(productosRecomendados => { %>
                <article>
                    <img src="Images/<%= productosRecomendados.image %> " alt="pinot" class="product_img">
                    <div class="main-article">
                        <h4 class="description"><%= productosRecomendados.winery %> </h4>
                        <h5 class="description"> <%= productosRecomendados.description %> </h5>
                        <div class="flex-container">
                            <p class="price">$ <%= productosRecomendados.price %> </p>
                            <p class="discount"><%= productosRecomendados.discount %>% off</p>
                        </div>
                        
                    </div>
                    <button class="btn-carr"><a href="/producto/<%= productosRecomendados.id %>"> Tienda </a></button>
                </article>
            <% }) %>
    </section>
        </div>

    </main>
<br>
<br>
<br>
<br>

<%- include ('partials/footer') %> 
</body>
</html>
    