<%- include ('partials/head') %>
    <%- include ('partials/header') %>

    <main class="main-cuerpo">
        <section>
        <h3 class="prodes">Productos en Promocion</h3><br>    
        <div class="products">
            <% if (productosEnPromocion != undefined) { %>
                <% productosEnPromocion.forEach( producto => { %>
                    <article>
                        <div class="contenedor-fts">
                        <img src="images/productos/<%= producto.image %> " alt="pinot" class="product_img">
                    </div>
                        <div class="main-article">
                            <h4 class="description"><%= producto.winery %> </h4>
                            <h5 class="description"> <%= producto.description %> </h5>
                            <div class="flex-container">
                                <p class="price">$ <%= producto.price %> </p>
                                <p class="discount"><%= producto.discount %>% off</p>
                            </div>
                            
                        </div>
                        <button class="btn-carr"><a href="/producto/detalle/<%= producto.id %>"> Tienda </a></button>
                    </article>
                <% }) %>
            <% } %>
            
    </section>
    <section class="offers"><br>
        <h3 class="ofer">Sugeridos del Mes</h3><br>
        <br>
        <br>
        
        <div class="products">
            <% productosRecomendados.forEach(recomendado => { %>
                <article>
                    <div class="contenedor-fts">
                    <img src="images/productos/<%= recomendado.image %> " alt="pinot" class="product_img">
                    </div>
                    <div class="main-article">
                        <h4 class="description"><%= recomendado.winery %> </h4>
                        <h5 class="description"> <%= recomendado.description %> </h5>
                        <div class="flex-container">
                            <p class="price">$ <%= recomendado.price %> </p>
                            <p class="discount"><%= recomendado.discount %>% off</p>
                        </div>
                        
                    </div>
                    <button class="btn-carr"><a href="/producto/detalle/<%= recomendado.id %>"> Tienda </a></button>
                </article>
            <% }) %>
    </section>
        </div>
        </main>
        <br>
        <br>
        <br>
        <br>

        <%- include ('partials/footer') %>
            </body>

            </html>
