<%- include ('partials/head') %>
<%- include ('partials/header') %>
<br>
<br>
<br>
<br>
<br>    
<main class="main-formularios">

        <div class="cuadro-formularios">
            <h2>Ingresá con tu cuenta</h2>

            <div id= "errores-front">

            </div>

            <form id = "formulario-login" action="/usuario/login" method="POST">
                <p>
                    <label>Correo Electrónico</label>
                    <input type="email" name="email" id="email">
                    <% if (locals.errors && errors.email) { %>
                        <div class="errores-de-formularios">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                </p>

                <p>
                    <label>Contraseña</label>
                    <input type="password" name="password" id="password">
                    <% if (locals.errors && errors.password) { %>
                        <div class="errores-de-formularios">
                            <%= errors.password.msg %>
                        </div>
                        <% } %>
                </p>



                <p class="boton-recordame">
                    <input type="checkbox" name="recordarme"><label class="checkbox-inline">Recordarme</label>
                </p>


                <p>
                    <button class="boton-formulario" type="submit">Ingresar</button>
                </p>
            </form>
        </div>

    </main>

    <script src="/ValidatorsFront/loginFrontEnd.js"></script>

    <%- include ('partials/footer') %> 

    </html>