<%- include ('partials/head') %>
    <%- include ('partials/header') %>


    <main class="main-cuerpo">
        <section>
        <h3 class="prodes">Vinos Espumantes</h3><br>    
        <div class="products">
            <% productosEspumantes.forEach(productosEspumantes => { %>
                <article>
                    <div class="contenedor-fts">
                    <img src="/images/productos/<%= productosEspumantes.image%> " alt="pinot" class="product_img">
                </div>
                    <div class="main-article">
                        <h4 class="description"><%= productosEspumantes.winery %> </h4>
                        <h5 class="description"> <%= productosEspumantes.description %> </h5>
                        <div class="flex-container">
                            <p class="price">$ <%= productosEspumantes.price %> </p>
                            <p class="discount"><%= productosEspumantes.discount %>% off</p>
                        </div>
                        
                    </div>
                    <button class="btn-carr"><a href="/producto/detalle/<%= productosEspumantes.id %>"> Tienda </a></button>
                </article>
            <% }) %>
        </div>
    </main>
    <br>
    <br>
    <br>
    <br>

    <%- include ('partials/footer') %>
        </body>

        </html>
